{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="/static/assets/img/card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camara 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/static/assets/img/card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camara 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/static/assets/img/card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camara 3</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div><!-- End Card with an image on top -->
    </div>
    </div>
{% endblock %}